/*modulename_templatename_cssname*/
html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	/*-webkit-transform: translateZ(0);*/
	/*-webkit-backface-visibility: hidden;*/
}
body {
	background:white;
	height: 100%;
    margin: 0;
    padding: 0;
    overflow:hidden;
	/*font-size:100%;*/

}
* {
	-moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
	-webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
    box-sizing:        border-box;   /* Everything else */
	margin-top:0px;

    /*-moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;*/
}
.body{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    height: 100%;
    position: absolute;

    width: 100%;
	overflow:auto;

    font-family:Arial;
    font-size:1.2em;

    /*background-image: url('file:///C:/Plugins/assets/body_polka.png');*/
}
.body_scroller{
   /* overflow:hidden;*/
}
.tabs {
width:100%;
}
.tabs .tab_button {
  	padding: .75em;
	
	background-size: 100% 100%;
	background-image: url('file:///C:/Plugins/assets/gray_header.png');	
	border: 1px solid #CCCCCC;
    color: #222222;
    font-weight: bold;
	font-size:1.25em;
    text-shadow: 0 1px 0 #FFFFFF;
	display:block;
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
	border-radius: 5px
}
.tabs .tab_button_active {
	padding: 0.75em;

	background-size: 100% 100%;
	background-image: url('file:///C:/Plugins/assets/light_header.png');
    border: 1px solid #CCCCCC;
	border-bottom: none;
    color: #222222;
    font-weight: bold;
	font-size:1.25em;
    text-shadow: 0 1px 0 #FFFFFF;
	-moz-border-radius:5px 5px 0px 0px;
    -webkit-border-radius:5px 5px 0px 0px;
    -khtml-border-radius:5px 5px 0px 0px;
    border-radius:5px 5px 0px 0px;
}

.tabs .tabs_content {
   /*background-color: whitesmoke;*/
   /* display: none;*/
    /*padding-bottom: 1px;*/
    /*padding: 5px;*/
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;

	
/*	-moz-border-radius:0px 0px 5px 5px;
    -webkit-border-radius:0px 0px 5px 5px;
    -khtml-border-radius:0px 0px 5px 5px;
    border-radius:0px 0px 5px 5px;*/
}
input[type='text']{
	font-size:1.25em;
	height:1.5em;
	
	-moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    -khtml-border-radius:5px 5px 5px 5px;
    border-radius:5px 5px 5px 5px;
	border:1px solid #999;
}

input[type='text'][disabled='disabled']{
	background-color:lightgray;
	color:black;
}
 
input[type='checkbox']{
    margin:0.5em;
    width:1.5em;
    height:1.5em;
}
input[type='range']{
    background: #0c0;
    height:10px;
}

input[type='range']::-webkit-slider-thumb{
    background:#f60;
    height:30px;
    width:30px;
    border-radius: 30px;
}

.panel {
    /*background-color: whitesmoke;*/
    /*bottom: 20%;*/
    height:100%;
    color: #222;
    font-family: Arial;
}
.panel .fieldgroup {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
	clear:both;
}
.panel .fieldgroup.odd  {
	/*background-color:whitesmoke;*/
}
.panel .fieldgroup .cell {
    float: left;
    height: auto;
    margin: 0px;
    padding: 0.1em;
    width: 98%;
	/*white-space:nowrap;*/
	line-height:1.5em;
}
.panel .fieldgroup .cell .label {
    float: left;
    padding-right: 5px;
    text-align: right;
    width: 40%;
	white_space:pre;
}

.panel .fieldgroup .cell .field {
    float: left;
    width: 55%;
}

.panel .fieldgroup .cell_short {
    float: left;
    height: auto;
    margin-left: 3px;
    padding: 0.1em;
    width: 49%;
	white-space:nowrap;
	line-height:1.5em;
}
.panel .fieldgroup .cell_short .label {
    float: left;
    padding-right: 5px;
    text-align: right;
    width: 40%;
	white_space:pre;
}

.panel .fieldgroup .cell_short .field {
    float: left;
    width: 55%;
}


.panel .field span{
    float: left;
}

.panel .fieldgroup input{
    width: 5em;
	float:left;
}

.panel .fieldgroup select{
    float:left;
}
.panel .fieldgroup textarea.short{
    font-family: verdana;
	width: 50%;
    border-radius: 7px 7px 7px 7px;
    border: 1px solid #aaaacc;
}

.panel .fieldgroup select {
    width: 10em;
    /*border-radius: 7px 7px 7px 7px;
    border: 1px solid #aaaacc;*/
}
.panel .fieldgroup select.short{
    width: 5em;
}
.panel .fieldgroup select.long{
    width: 100%;
}

.panel .fieldgroup select.xlong{
   width: 100%;
}

.panel .hidden_copy {
    display: block;
    float: left;
    overflow: hidden;
    width: 0;
}
.panel .error {
    color: Red;
    display: block;
	clear:both;
    margin-left: 16px;
    text-align: center;
}
.panel .legend {
    display: block;
    float: left;
 	/*width:48px;*/
	margin-left:5px;
}
.panel .button {
    color: black;
    display: block;
    float: left;
    margin-left: 10px;
    width: 40%;
}
.panel .required {
    color: Red;
    display: block;
    float: left;
    margin-left: 10px;
    width: 10px;
}

.panel .fieldgroup input[type=checkbox] {
    width: 1.5em;
}

.panel .mycutdbtable{
width: 100%;
/*background-color: #e6e6fa;*/
table-layout: fixed;
}
.panel .mycutdbtable tr.head{
background-color: #d3d3d3;
color:black;
text-align:center;
font-weight:bold;
}
.panel .mycutdbtable tr.row_odd{
background-color: #F1F1F1;
color:#363636;
cursor:pointer;
text-align:center;
}
.panel .mycutdbtable tr.row_even{
background-color: #F6F6F6;
color:#363636;
cursor:pointer;
text-align:center;
}

.panel .mycutdbtable tr.row_active{
background-color: #CCDDCC;
color:#363636;
cursor:pointer;
font-weight:bold;
text-align:center;
}
.panel .mycutdbtable tr.row_highlight{
background-color: #E6E6E6;
color:#363636;
cursor:pointer;
text-align:center;
}

.panel .mycutdbtable tr td{
overflow:hidden;
}

.page_header{
   color: #222;
    font-family: Arial;
    font-size:1em;
	background-color:#111;
	height: 3em;
    position: fixed;
	font-weight:bold;
    top: 0;
	line-height:1em;
    width: 100%;
	right:0;
	left:0;
	z-index: 2147483647;
}
.page_header .tab_button {
	background-size: 100% 100%;
	background-image: url('file:///C:/Plugins/assets/green_header.png');
	border: 1px solid #CCCCCC;
    color: #222222;
    /*text-shadow: 0 1px 0 #FFFFFF;*/
	
	-moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -khtml-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;

    height: 3em;
    
    
    width: 100%;
   
}
.page_header .tab_button_active {
  

	background-size: 100% 100%;
	background-image: url('file:///C:/Plugins/assets/green_header.png');	
	border: 1px solid #CCCCCC;
    color: #222222;
   
    /*text-shadow: 0 1px 0 #FFFFFF;*/
	
	-moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
    -khtml-border-radius: 0px 5px 5px 0px;
	border-radius: 0px 5px 5px 0px;
	

    height: 3em;
    
    
    width: 100%;
   
}
.page_header table{
width:100%;
text-align:left;
}

.fs_wizard_default .result {

}
.fs_wizard_default .result .tabs_content {
	
display: none;
    padding-bottom: 1px;
    padding-right: 1px;
   
	
	-moz-border-radius:0px 0px 5px 5px;
    -webkit-border-radius:0px 0px 5px 5px;
    -khtml-border-radius:0px 0px 5px 5px;
    border-radius:0px 0px 5px 5px;
}



.whole_screen {
   position:absolute;
    display: none;
   top:0px;
   left:0px;
   bottom:0px;
   right:0px;
}
.scientific_calc{

    /*height: 20%;*/
    background-color:#333;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    display:block;
    width: 600px;
	-moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.scientific_calc .sup {
    position: relative;
    bottom: 1ex;
    font-size: 80%;
}
.scientific_calc .display{
    text-align: center;
    padding:2px;

}

.scientific_calc .display .text{
    height:1.1em;
    /*background-color: #BCCD95;*/
    display:inline;
    color: #000000;
    text-align: right;
    top: 2px;
    float:right;
}
.scientific_calc .display  .text_container{
    font-size: 3em;
    width:100%;
    height:1.1em;
    background-color: #BCCD95;
    display:block;
    /*color: #000000;*/
    text-align: right;
    /*top: 2px;*/
	overflow:hidden;

}
.scientific_calc .kbbutton{
    background-color: whitesmoke;
    color: black;
    /*position:relative;*/
    display:block;
    font-family: Arial;
    font-size: 2.5em;
    cursor:pointer;
    min-width:0.9em;
    width:100%;
    height:1.5em;
    color:black;
    padding:0.16em;
    margin: 0em;
    /*border: 1px solid black;*/
    text-align:center;
    -moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    -khtml-border-radius:5px 5px 5px 5px;
    border-radius:5px 5px 5px 5px;
    float:left;
    background-size: 100% 100%;
    background-image: url('file:///C:/Plugins/assets/kb_gray.png');
}
.scientific_calc .kbbutton img{
    height:0.7em;
}
.scientific_calc .kbcontrols {
    float: left;
    width: 18%;
}
.scientific_calc .kbnumpad {
    float: left;
    margin: 0;
    width: 80%;
}

.scientific_calc .kbcontrols .kbbutton{
    width: 100%;
}
/*keyboard*/
.keyboard_placeholder{
display:none;
position:relative;
}
.keyboard{
	bottom: 0;
    /*height: 20%;*/
	background-color:#000;
    left: 0;
    margin: 0;
    position: fixed;
	display:block;
    right: 0;
    width: 100%;
	display:none;
}
.keyboard .kbbutton{
    background-color: whitesmoke;
    color: black;
	/*position:relative;*/
    font-family: Arial;
    font-size: 2.5em;
	
	min-width:0.9em;
	width:100%;
	color:black;
	padding:0.16em;
	margin: 0em;
	border: 1px solid black;
	text-align:center;
	-moz-border-radius:5px 5px 5px 5px;
    -webkit-border-radius:5px 5px 5px 5px;
    -khtml-border-radius:5px 5px 5px 5px;
    border-radius:5px 5px 5px 5px;
	float:left;
	background-size: 100% 100%;
	background-image: url('file:///C:/Plugins/assets/kb_gray.png');
}
.keyboard .kbbutton img{
 height:0.7em;
 }
.keyboard .kbcontrols {
    float: left;
    width: 18%;
}
.keyboard .kbnumpad {
    float: left;
    margin: 0;
    width: 80%;
}

.keyboard .kbcontrols .kbbutton{
    width: 100%;
}
/*data tables*/
.reference_table_body{
	background-color: #BBB;
	font-size: 1.0em;
	width: 100%;
}
.fixed_header{
	/*width: 100%;*/
	top:3em;
	height: 1em;
    left: 0;
    position: fixed;
    right: 0;
}

.reference_table_body tr.header{
background-color: #FFFFFF;

}
.reference_table_body tr.header td{
font-weight:bold;


}
.reference_table_body th td{


}

.reference_table_body tr{


}
.reference_table_scroll{
	/*height:100%;*/
	overflow-y:auto;
	/*margin-top:16px;*/
}

.reference_table_body tr td{
    background-color: #FAFAFA;
    text-align: center;
}
.reference_table_body tr.odd td{
    background-color: #eee;
    text-align: center;
}
.reference_table_body tr.selected td{
    background-color: #AECEAF;
    text-align: center;
}

.fraction, .fraction_top, .fraction_bottom {
    padding: 0 5px;    
}

.frac{
    display:inline-block;
    /*position: relative;*/
	vertical-align: middle; 
	letter-spacing: 0.016em;
	text-align: center;    
    
}
.fraction_bottom{
    border-top: 1px solid #000;
    display: block;
}
.fraction_middle{
        display: inline;
    
}
/*popup*/
.popup{
    position:absolute;
    top:0px;
    left:0px;
	bottom:0px;
    width:100%;
    min-height: 100%;
	 font-size: 1.25em;
    font-family:Helvetica, Arial, sans-serif;
	height:100%;
	
    /*padding:10px;*/
    background-color: #F5F5F5;
    /*border:2px solid grey;*/
    z-index:100000000000000000;
	
		opacity:1;
		
		/*The good stuff */
		
		-webkit-transition: opacity 0.5s ease-out;  
		-moz-transition: opacity 0.5s ease-out;  
		-ms-transition: opacity 0.5s ease-out;  
		-o-transition: opacity 0.5s ease-out;  
		transition: opacity 0.5s ease-out;	
		
	
    }
.popup_header{
    
    border-bottom: 1px solid #808080;
    position:fixed;
	display:relative;
	top:0px;
	left:0px;
	right:0px;
	font-size: 1.25em;
    font-weight: 700;
    height: 2.0em;
	line-height: 2.0em;
    text-align:center;
    font-weight:bold;
    color:white;
	font-family: Helvetica,Arial,sans-serif;
    z-index:100000000000000000;
	background-size: 100% 100%;
	background-image: url('file:///C:/Plugins/assets/gray_header.png');

	
    color: #202020;

    font-weight: 700;
   }
    
.popup_header_cancel{
background-image: url("file:///C:/Plugins/assets/back-button.png");
    background-size: 100% 100%;
    color: #FFFFFF;
    display: block;
    float: left;
    font-weight: 700;
    height: 1.8em;
    margin: 0.1em;
    text-align: center;
    text-shadow: 0 1px 0 #111111;
    width: 2.5em;
    }
.popup_message{
	margin-top:3.5em;
	margin-left:0.5em;
	margin-right:0.5em;
	margin-bottom:0.5em;
	overflow:scroll;
	height:100%;
}    

/*Push menu*/
.pushmenu_button {

	background-size: 100% 100%;
	background-image: url('file:///C:/Plugins/assets/menu_button.png');	
	
	border: 1px solid #CCCCCC;
    color: #222222;
    /*text-shadow: 0 1px 0 #FFFFFF;*/
	
	-moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius:  5px 0px 0px 5px;
    -khtml-border-radius:  5px 0px 0px 5px;
	border-radius:  5px 0px 0px 5px;
	color:#999999;
    font-weight: bold;
    height: 3em;
    line-height: 1em;
    text-align: center;
    top: 0;
    width: 2.5em;
    
   
}
.page{
position:relative;
top:3em;
/*overflow:hidden;*/
font-size:1em;
opacity:1;
		-webkit-transition: opacity 0.5s ease-out;  
		-moz-transition: opacity 0.5s ease-out;  
		-ms-transition: opacity 0.5s ease-out;  
		-o-transition: opacity 0.5s ease-out;  
		transition: opacity 0.5s ease-out;	


}
.panel{
background-color: white;
color:#111;
font-size:1em;
}
.navigation{
display:none;
/*height:100%;*/
/*position:fixed;*/
position:relative;

/*overflow: auto;*/
top:3em;
left:0px;
background-color:black;
z-index: 2147483647;
	-moz-border-radius: 0px 10px 0px 0px;
    -webkit-border-radius: 0px 10px 0px 0px;
    -khtml-border-radius: 0px 10px 0px 0px;
	border-radius: 0px 10px 0px 0px;
	
		opacity:1;
		
		/*The good stuff */
		-webkit-transition: opacity 0.5s ease-out;  /* Saf3.2+, Chrome */
		-moz-transition: opacity 0.5s ease-out;  /* FF4+ */
		-ms-transition: opacity 0.5s ease-out;  /* IE10? */
		-o-transition: opacity 0.5s ease-out;  /* Opera 10.5+ */
		transition: opacity 0.5s ease-out;	
		
}
.navigation li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    font-size: 1.5em;
    font-weight: 100;
    position: relative;
}

.navigation ul li a, .navigation ul li a:hover, .navigation ul li a:visited, .navigation ul li a:focus {
    background-color: transparent;
    color: #CBC4C5;
    display: block;
    line-height: 2em;
    padding: 4px 14px;
    text-decoration: none;
}
.navigation ul li img{
height:1.2em;
margin-right:0.5em;

}
.navigation ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
	padding-right: 1em;
    position: relative;
}

/*Triangle calc class*/
			.triangle_container{
				position:relative;
				 width: 20em;
			}
			.triangle_container input{
				position:absolute;
				width:3em;
				
			}
			.triangle_container img{
				width:100%;
			}

/*Toast CSS*/
#toast{
		position: fixed;
		top: 10em;
		left: 50%;
		width: 200px;
		margin-left: -100px;
		border: 1px solid #666;
		background-color: #B1BCCF;
		padding: 10px 0 ;
		text-align:center;
		opacity: .9;
		
		/*The good stuff */
		-webkit-transition: opacity 0.5s ease-out;  /* Saf3.2+, Chrome */
		-moz-transition: opacity 0.5s ease-out;  /* FF4+ */
		-ms-transition: opacity 0.5s ease-out;  /* IE10? */
		-o-transition: opacity 0.5s ease-out;  /* Opera 10.5+ */
		transition: opacity 0.5s ease-out;	
		
	}
.fade_shader{
width:3em;
height:1.5em;
display: block;

        /* webkit example */
        background-image: -webkit-gradient(
          linear, right top, left top, from(rgba(255, 255, 255, 1.0)),
          to(rgba(255, 255, 255, 0))
        );

        /* mozilla example - FF3.6+ */
        background-image: -moz-linear-gradient(
          right center,
          rgba(255, 255, 255, 1.0) 20%, rgba(255, 255, 255, 0) 95%
        );

        /* IE 5.5 - 7 */
        filter: progid:DXImageTransform.Microsoft.gradient(
          gradientType=1, startColor=0, endColorStr=#FFFFFF
        );

        /* IE8 uses -ms-filter for whatever reason... */
        -ms-filter: progid:DXImageTransform.Microsoft.gradient(
          gradientType=1, startColor=0, endColoStr=#FFFFFF
        );

}
.header_line_container{
overflow:hidden;display:block;width:100%;height:1.5em;
}
.dropdown_list {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
    padding: 0.25em;
	color: #222;
    font-family: Arial;
	font-size: 1.25em;
	margin:0.5em;
	-moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -khtml-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
}
.dropdown_list li{
    background-color: #FAFAFA;
    border-bottom: 1px solid #EEEEEE;
    font-size: 1.25em;
    list-style: none outside none;
	padding-bottom: 0.3em;
    padding-top: 0.3em;
	padding-left: 1.0em;
}
.dropdown_list li.header{
    background-color: #E7E7E7;
    border-bottom: 1px solid #EEEEEE;
    font-size: 1.25em;
    list-style: none outside none;
	padding-bottom: 0.3em;
    padding-top: 0.3em;
	padding-left: 0.3em;
}
.dropdown_list li.selected{
   
    border-bottom: 1px solid #EEEEEE;
    font-size: 1.25em;
    list-style: none outside none;
	padding-bottom: 0.3em;
    padding-top: 0.3em;
	padding-left: 1.0em;
	background-color: #5366BD;
    color: #EFEFEF;
}
.listView{

padding: .1em;

margin-top: 0em;

margin-bottom: 0px;
}
.listView li{
	/* background-color: #FAFAFA; */
	/* border-bottom: 1px solid #EEEEEE; */
	font-size: 1.0em;
	list-style: none outside none;
	padding-bottom: 0.3em;
	padding-top: 0.3em;
	/* padding-left: 1.0em; */
	width: 32%;
	display:inline-block;
	vertical-align: top;
	text-align: center;
	overflow: hidden;
}
.listView .icon{
	width:3em;
	height:3em;
	display: table;
	background-size:contain;
	background-repeat:no-repeat;
	background-position:50%;
	border-radius:5px;
	border:1px solid transparent;
	margin-right: auto;
	margin-left: auto;
	background-color: rgb(97, 104, 166);
	/* background-blend-mode: multiply; */
	-webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .45);
	box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.46);
}
.listView li.head{
	word-break: break-word;
	width:100%;
	background-color: rgba(235, 236, 244, 0.99);
}
